@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');

:root {
  --duration: 6s;
  --duration2: 2s;
  --time-delay: 1s;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#69c, #369);
  display: grid;
  place-items: center;
  perspective: 1000px;
  overflow: hidden;
}

/* color custom property */

@property --color {
  syntax: '<color>';
  inherits: false;
  initial-value: #fff;
}

/* keyframes for animations*/

@keyframes showLine1 {
  0%, 5%, 35%, 100% { opacity: 0; }
  15%, 25% { opacity: 1; }
}

@keyframes showLine2 {
  0%, 33%, 60%, 100% { opacity: 0; }
  43%, 53% { opacity: 1; }
}

@keyframes showLine3 {
  0%, 65%, 90%, 100% { opacity: 0; }
  75%, 85% { opacity: 1; }
}

@keyframes fold-1 {
  0%, 25% {
    transform: scaleX(-1) rotate3d(1, 1, 0, 0deg);
    filter: drop-shadow(0.5vmin -0.5vmin 0.25vmin #0000);
    opacity: 1;
  }
  34.9999% {
    transform: scaleX(-1) rotate3d(1, 1, 0, -178deg);
    filter: drop-shadow(0.5vmin -0.5vmin 0.25vmin #0002);
    opacity: 1;
  }
  35%, 100% {
    opacity: 0;
  }
}

@keyframes fold-2 {
  0%, 15% {
    transform: rotate3d(1, 1, 0, 0deg);
    filter: drop-shadow(0.5vmin -0.5vmin 0.25vmin #0000);
    opacity: 1;
  }
  25%, 34.999% {
    transform: rotate3d(1, 1, 0, -178deg);
    filter: drop-shadow(0.5vmin -0.5vmin 0.25vmin #0002);
    opacity: 1;
  }
  35%, 100% {
    transform: rotate3d(1, 1, 0, -178deg);
    opacity: 0;
  }
}

@keyframes fly {
  20% {transform: rotate3d(-1, 2, 1, 25deg) rotate3d(-2, 4, 1, 53deg) rotate3d(4, 4, -1, -64deg) translate(0,10vmax); }
  100% { transform: rotate3d(-1, 2, 1, 25deg) rotate3d(-2, 4, 1, 53deg) rotate3d(4, 4, -1, -64deg) translate(0,-100vmax); }
}

@keyframes movePlane {
  0%, 50% {
    transform: rotate3d(-1, 2, 1, 0deg);
  }
  60%, 80% {
    transform: rotate3d(-1, 2, 1, 25deg);
  }
  90%, 100% {
    transform: rotate3d(-1, 2, 1, 25deg) rotate3d(-2, 4, 1, 53deg) rotate3d(4, 4, -1, -64deg)
  }
}


@keyframes moveWing {
  0%, 34.9999% {
    --color: #fff;
    transform: rotate3d(0,1,0,0deg);
    background:
      linear-gradient(#0000 38.636363%, #0000 0, #0000 40%),
      linear-gradient(135deg, #fff0 30.4%, var(--color) 0);
  }
  35%, 50% {
    --color: #fff;
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(135deg, #fff0 30.4%, var(--color) 0);
  }
  60%, 80% {
    --color: #ddd;
    transform: rotate3d(0,1,0,0deg);
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(135deg, #fff0 30.4%, var(--color) 0);
  }
  90%, 100% {
    transform: rotate3d(0,1,0,-90deg);
    --color: #fff;
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(135deg, #fff0 30.4%, var(--color) 0);
  }
}

@keyframes moveWing2 {
  0%, 34.9999% {
    transform: rotate3d(0,1,0,0deg);
    background:
      linear-gradient(#0000 38.636363%, #0000 0, #0000 40%),
      linear-gradient(-135deg, #fff0 30.4%, #fff 0);
  }
  35%, 50% {
    transform: rotate3d(0,1,0,0deg);
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(-135deg, #fff0 30.4%, #fff 0);
  }
  60%, 80% {
    transform: rotate3d(0,1,0,0deg);
  }
  90%, 100% {
    transform: rotate3d(0,1,0,90deg);
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(-135deg, #fff0 30.4%, #fff 0);
  }
}

@keyframes moveBody {
  0%, 34.9999% {
    --color: #fff;
    background:
      linear-gradient(#0000 38.636363%, #0000 0, #0000 40%),
      linear-gradient(135deg, #f000 8.4%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
  35%, 50% {
    --color: #fff;
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(135deg, #f000 8.4%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
  60%, 80%{
    --color: #ddd;
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(135deg, #f000 8.4%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
  90%, 100% {
    --color: #e2e2e2;
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(135deg, #f000 8.4%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
}

@keyframes moveBody2 {
  0%, 34.9999% {
    --color: #fff;
    background:
      linear-gradient(#0000 38.636363%, #0000 0, #0000 40%),
      linear-gradient(-135deg, #f000 27.8%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
  35%, 80% {
    --color: #fff;
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(-135deg, #f000 27.8%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
  90%, 100% {
    --color: #f5f5f5;
    background:
      linear-gradient(#0000 38.636363%, #0002 0, #0000 40%),
      linear-gradient(-135deg, #f000 27.8%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
}

@keyframes foldPaper {
  0%, 50% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  60%, 100% {
    transform: rotate3d(0, 1, 0, -170deg);
  }
}

@keyframes moveBody2before {
  0%, 34.9999% {
    --color: #fff;
    background: linear-gradient(-135deg, #f000 27.8%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
  35%, 80% {
    --color: #fff;
    background: linear-gradient(-135deg, #f000 27.8%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
  90%, 100% {
    --color: #f5f5f5;
    background: linear-gradient(-135deg, #f000 27.8%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  }
}

/* actual stylings */

.paperplane {
  animation: movePlane var(--duration) linear 1 forwards, fly var(--duration2) 1 forwards;
  animation-delay: var(--time-delay), calc(var(--duration) + var(--time-delay) + 2s);
  position: relative;
  width: 51vmin;
  height: 66vmin;
  transform-style: preserve-3d;
}

.paperplane div {
  position: absolute;
  transform-style: preserve-3d;
}

.fold-1,
.fold-2 {
  animation: fold-1 var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  top: 0;
  left: 0%;
  width: 50%;
  aspect-ratio: 1;
  background: linear-gradient(45deg, #0000 50%, #fff 0);
  transform: scaleX(-1) rotate3d(1, 1, 0, 0deg);
  filter: drop-shadow(0.5vmin -0.5vmin 0.25vmin #0000);
}

.fold-2 {
  left: 50%;
  transform: rotate3d(1, 1, 0, 0deg);
  animation: fold-2 var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
}

.line-1 {
  opacity: 0;
  animation: showLine1 var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  position: absolute;
  width: 36.0625vmin;
  height: 36.0625vmin;
  border-left: 0.5vmin dashed red;
  border-top: 0.5vmin dashed red;
  box-sizing: border-box;
  z-index: 1;
  transform-origin: bottom left;
  left: 0%;
  top: -10.5vmin;
  transform:  translate(0%, 0) rotate(45deg);
}

.line-2 {
  animation: showLine2 var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  opacity: 0;
  top: 0;
  left: 0;
  width: calc(50% - 0.25vmin);
  height: 100%;
  border-right: 0.5vmin dashed red;
  z-index: 2;
}

.side {
  width: 50%;
  height: 100%;
}

.wing {
  animation: moveWing var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  --color: #fff;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  transform-origin: 100% 50%;
  background:
    linear-gradient(#0000 38.636363%, #0000 0, #0000 40%),
    linear-gradient(135deg, #fff0 30.4%, var(--color) 0);
}

.body {
  animation: moveBody var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  --color: #fff;
  width: 30%;
  height: 100%;
  left: 70%;
  top: 0;
  background: #00f2;
  background:
    linear-gradient(#0000 38.636363%, #0000 0, #0000 40%),
    linear-gradient(135deg, #f000 8.4%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
}

.side-2 {
  left: 50%;
  animation: foldPaper var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  transform-origin: 0% 50%;
}

.side-2 .wing {
  animation: moveWing2 var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  left: 30%;
  transform-origin: 0% 50%;
  background: linear-gradient(-135deg, #fff0 30.4%, #fff 0);
}

.side-2 .wing::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(135deg, #fff0 30.4%, #fff 0);
  transform: scaleX(-1) rotate3d(0,1,0,-0.1deg) translate(-100%, 0);
  transform-origin: 0% 50%;
}

.side-2 .body {
  animation: moveBody2 var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  left: 0;
  background: linear-gradient(-135deg, #f000 27.8%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
}

.side-2 .body::before {
  animation: moveBody2before var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-135deg, #f000 27.8%, var(--color) 0) 0 0 / 25.5vmin 66vmin;
  transform: rotate3d(0,1,0, 0.1deg);
  transform-origin: 0% 50%;
}


.side-2 .line-3 {
  animation: showLine3 var(--duration) linear 1 forwards;
  animation-delay: var(--time-delay);
  opacity: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 0.25vmin);
  height: 88%;
  border-right: 0.5vmin dashed red;
  z-index: 2;
  transform: scaleX(-1) rotate3d(0,1,0,-0.2deg) translate(-100%, 0);
  transform-origin: 0% 50%;
}



/*Button*/

button {
  background: none;
  border-width: 30px;
  border-color: whitesmoke;
  border-radius: 10px;

  padding-inline: 2ch;
  padding-block: 1ch;
  font-size: 5vmin;
  font-weight: bold;
  color: whitesmoke;
}


/*Colores*/
/*
body {
  overflow: hidden;
}
.wrapper,
.animDiv {
  position: absolute;
  inset: 0;
  background-color: lightgrey;
}
.animDiv {
  animation: wipeAnimation 700ms ease-out both,
    cycleColors_01 1000ms linear infinite;
  animation-play-state: running, paused;
  box-shadow: 0 0 80px 0 #00000055 inset;
}

.animDiv:nth-of-type(2) {
  animation-delay: 100ms, -30ms;
}
.animDiv:nth-of-type(3) {
  animation-delay: 200ms, -60ms;
}
.animDiv:nth-of-type(4) {
  animation-delay: 300ms, -90ms;
}
.animDiv:nth-of-type(5) {
  animation-delay: 400ms, -120ms;
}
.animDiv:nth-of-type(6) {
  animation-delay: 500ms, -150ms;
}
.animDiv:nth-of-type(7) {
  animation-delay: 600ms, -180ms;
}
.animDiv:nth-of-type(8) {
  animation-delay: 700ms, -210ms;
}
.animDiv:nth-of-type(9) {
  background-color: lightgrey;
  box-shadow: none;
  animation: wipeAnimation 700ms ease-out both;
  animation-delay: 800ms, 800ms;
}
input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  cursor: pointer;
}
.animText,
.moreClick {
  position: absolute;
  width: 80%;
  height: 80%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  opacity: 1;
  color: darkblue;
  animation: textAppear 300ms linear both 1500ms;
  transition: opacity 200ms linear 0s;
}
input:checked ~ .wrapper .animDiv {
  animation-name: none, cycleColors_01;
  animation-play-state: running, running;
}
input:checked ~ .wrapper .animDiv:nth-of-type(9) {
  animation-name: none;
  animation-play-state: running;
}
input:checked ~ .animText {
  opacity: 0;
  animation: none;
}
.moreClick {
  opacity: 0;
}
input:checked ~ .moreClick {
  opacity: 1;
}

@keyframes wipeAnimation {
  0% {
    border-radius: 80px;
    transform: scale(0) rotate(-45deg);
  }
  100% {
    border-radius: 0;
    transform: scale(1) rotate(0);
  }
}

@keyframes textAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cycleColors_01 {
  0% {
    background-color: hsl(0, 100%, 70%);
  }
  33% {
    background-color: hsl(120, 100%, 70%);
  }
  66% {
    background-color: hsl(240, 100%, 70%);
  }
  100% {
    background-color: hsl(360, 100%, 70%);
  }
}*/

/*Letras sangrientas*/

body {
  margin:0;
  height:100vh;
  background:#000;
  display:grid;
  place-content:center;
}
.spooky {
  text-align: center;
  font-size: 150px;
  padding: 90px 10px 15px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  background: #000;
  filter: blur(5px) contrast(10);
  animation:b 1.5s forwards;
}
.spooky:after {
  content: "THE END";
  color: #ff0000;
  display: block;
  --c: linear-gradient(red 0 0);
  background:
    var(--c) 59px 45px /9px 14%,
    var(--c) 209px 43px/9px 13%,
    var(--c) 80px 120px/8px 26%,
    var(--c) 110px 85px/9px 15%,
    var(--c) 5px 45px  /12px 20%,
    var(--c) 158px 110px/14px 20%,
    var(--c) 179px 115px /9px 15%,
    var(--c) 359px 40px  /9px 15%,
    var(--c) 341px 40px  /9px 14%,
    var(--c) calc(100% - 10px) 113px/9px 23%,
    var(--c) calc(100% - 43px) 114px/12px 18%,
    var(--c) calc(100% - 61px) 118px/8px 19%,
    var(--c) calc(100% - 210px) 118px/8px 22%,
    var(--c) calc(100% - 164px) 118px/8px 17%,
    var(--c) calc(100% - 112px) 57px/8px 42%,
    var(--c) calc(100% - 128px) 123px/8px 17%;
  background-repeat: no-repeat;
  animation:a 1.5s both 2s;
}

.spooky:before {
   content: "";
   position: absolute;
   inset: 0 0 auto 0;
   height: 100px;
   background:
     linear-gradient(-35deg,#0000 50%,#000 0)67% 14px /20% 86px,
     linear-gradient( 35deg,#0000 50%,#000 0)33% 14px /20% 86px,
     radial-gradient(farthest-side,#fff 100%,#0000 ) 40% 70px/5% 12px,
     radial-gradient(farthest-side,#f00 100%,#0000 ) 33% 14px/20% 86px,
     radial-gradient(farthest-side,#fff 100%,#0000 ) 60% 70px/5% 12px,
     radial-gradient(farthest-side,#f00 100%,#0000 ) 67% 14px/20% 86px;
   background-repeat: no-repeat;
   animation:c 1s both 1.8s;
}

@keyframes a {
  0% {
    background-size:
     8px 0%,
     9px 0%,
     8px 0%,
     9px 0%,
     12px 0%,
     14px 0%,
     9px 0%,
     9px 0%,
     9px 0%,
     9px 0%,
     12px 0%,
     8px 0%,
     8px 0%,
     8px 0%,
     8px 0%,
     8px 0%;
  }
}

@keyframes b {
  0% {filter: blur(50px) contrast(10);}
}

@keyframes c {
  0% {opacity:0;}
}

/*Cuadro*/

input {
  --trunk: maroon;
  --ground: white;
  --sky: #dde;
  --sky2: #bbd;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 70vmin;
  height: 50vmin;
  background:
    /* tree */
    conic-gradient(at 50% -20%, #0000 177deg, var(--trunk) 177.25deg 182.75deg, #0000 183deg) 30vmin 50% / 10vmin 30vmin,


    conic-gradient(at 110% 30%, #0000 237deg, var(--trunk) 237.25deg 245.75deg, #0000 247deg) 35vmin 60% / 10vmin 20vmin,
    conic-gradient(at 110% 40%, #0000 217deg, var(--trunk) 217.25deg 225.75deg, #0000 227deg) 38vmin 48% / 4vmin 10vmin,
    conic-gradient(at 110% 30%, #0000 287deg, var(--trunk) 287.25deg 295.75deg, #0000 297deg) 43vmin 60% / 3vmin 10vmin,

    conic-gradient(at 120% 30%, #0000 217deg, var(--trunk) 217.25deg 222.75deg, #0000 223deg) 35vmin 24% / 6vmin 14vmin,
    conic-gradient(at 110% 30%, #0000 277deg, var(--trunk) 277.25deg 282.75deg, #0000 283deg) 39.75vmin 34% / 4vmin 10vmin,
    conic-gradient(at 110% 40%, #0000 237deg, var(--trunk) 227.25deg 235.75deg, #0000 247deg) 41.75vmin 28% / 2vmin 8vmin,

    conic-gradient(at 120% 30%, #0000 207deg, var(--trunk) 207.25deg 212.75deg, #0000 213deg) 35vmin 10% / 3vmin 9vmin,
    conic-gradient(at 120% 30%, #0000 217deg, var(--trunk) 217.25deg 223.75deg, #0000 224deg) 35vmin 21% / 3vmin 9vmin,

    conic-gradient(at -40% 30%, #0000 95deg, var(--trunk) 0 100deg, #0000 0) 26vmin 50% / 9vmin 10vmin,
    conic-gradient(at -40% 10%, #0000 115deg, var(--trunk) 0 120deg, #0000 0) 28vmin 47% / 4vmin 6vmin,
    conic-gradient(at -40% 80%, #0000 36deg, var(--trunk) 0 40deg, #0000 0) 31vmin 60% / 9vmin 10vmin,

     conic-gradient(at -40% -20%, #0000 110deg, var(--trunk) 0 115deg, #0000 0) 27.5vmin 38% / 7.5vmin 6vmin,
    conic-gradient(at 0% -20%, #0000 160deg, var(--trunk) 0 165deg, #0000 0) 29vmin 30% / 7.5vmin 4vmin,

    conic-gradient(at 0% -20%, #0000 150deg, var(--trunk) 0 158deg, #0000 0) 31.5vmin 25% / 4vmin 6vmin,

    /* snow */
    radial-gradient(closest-side, white 40%, #0000 0) 70% 70% / 1vmin 1vmin,
    radial-gradient(closest-side, white 50%, #0000 0) 60% 60% / 1vmin 1vmin,
    radial-gradient(closest-side, white 60%, #0000 0) 80% 30% / 1vmin 1vmin,
    radial-gradient(closest-side, white 70%, #0000 0) 90% 60% / 1vmin 1vmin,
    radial-gradient(closest-side, white 40%, #0000 0) 50% 10% / 1vmin 1vmin,
    radial-gradient(closest-side, white 50%, #0000 0) 55% 25% / 1vmin 1vmin,
    radial-gradient(closest-side, white 60%, #0000 0) 65% 15% / 1vmin 1vmin,
    radial-gradient(closest-side, white 70%, #0000 0) 75% 34% / 1vmin 1vmin,
    radial-gradient(closest-side, white 40%, #0000 0) 85% 10% / 1vmin 1vmin,
    radial-gradient(closest-side, white 50%, #0000 0) 95% 77% / 1vmin 1vmin,
    radial-gradient(closest-side, white 60%, #0000 0) 72% 50% / 1vmin 1vmin,
    radial-gradient(closest-side, white 70%, #0000 0) 92% 35% / 1vmin 1vmin,

    radial-gradient(closest-side, white 40%, #0000 0) 5% 70% / 1vmin 1vmin,
    radial-gradient(closest-side, white 50%, #0000 0) 15% 60% / 1vmin 1vmin,
    radial-gradient(closest-side, white 60%, #0000 0) 25% 30% / 1vmin 1vmin,
    radial-gradient(closest-side, white 70%, #0000 0) 35% 60% / 1vmin 1vmin,
    radial-gradient(closest-side, white 40%, #0000 0) 45% 10% / 1vmin 1vmin,
    radial-gradient(closest-side, white 50%, #0000 0) 17% 25% / 1vmin 1vmin,
    radial-gradient(closest-side, white 60%, #0000 0) 37% 15% / 1vmin 1vmin,
    radial-gradient(closest-side, white 70%, #0000 0) 27% 34% / 1vmin 1vmin,
    radial-gradient(closest-side, white 40%, #0000 0) 46% 70% / 1vmin 1vmin,
    radial-gradient(closest-side, white 50%, #0000 0) 22% 77% / 1vmin 1vmin,
    radial-gradient(closest-side, white 60%, #0000 0) 28% 50% / 1vmin 1vmin,
    radial-gradient(closest-side, white 70%, #0000 0) 10% 10% / 1vmin 1vmin,
    /* background */
    radial-gradient(175vmin 50% at 35vmin 95%, var(--ground) 30%, #0000 30.25%),
    radial-gradient(farthest-side at 50% 70%, #bb6, #aa5 99%, #0000) 6.5vmin 84% / 11vmin 7vmin,
    radial-gradient(farthest-side at 50% 70%, #fff 99%, #0000 0) 7vmin 84% / 10vmin 8vmin,
    radial-gradient(farthest-side at 50% 110%, #def 99%, #0000 0) 38vmin 87% / 100vmin 10vmin,
    linear-gradient(var(--sky2), var(--sky))
    ;
  background-repeat: no-repeat;
  background-color: #f002;
  overflow: hidden;
  border: 5vmin ridge #963;
  box-shadow:
    -21vmin 38vmin 0 -29.25vmin #fff,
    -26.75vmin 38vmin 0 -29.5vmin #222,
    -27vmin 40vmin 0 -29.75vmin #888,
    -26vmin 40vmin 0 -29.75vmin #fff,
    -22vmin 40vmin 0 -29.75vmin #888,
    -21.5vmin 41.5vmin 0 -29.75vmin #888,
    -22.5vmin 41.5vmin 0 -29.75vmin #fff,
    -27vmin 41.5vmin 0 -29.75vmin #888,
    -21vmin 43vmin 0 -29.75vmin #fff,
    -27vmin 43vmin 0 -29.75vmin #888,
    -25vmin 40vmin 0 -25vmin white,
    -24.75vmin 40.25vmin 0 -25vmin #0002,
    0 0 0 100vmax #def;
}

input::before {
  --trunk: brown;
  --ground: green;
  --sky2: #aef;
  --sky: #8ce;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--size) * 1%);
  height: 100%;
  background:
    /* leaves */
    radial-gradient(closest-side, #00c300 90%, #0000 0) 23vmin 27% / 9vmin 9vmin,
    radial-gradient(closest-side, #0b0 99%, #0000 0) 35vmin 30% / 10vmin 9vmin,
    radial-gradient(closest-side, #0b0 99%, #0000 0) 31vmin 42% / 10vmin 9vmin,
    radial-gradient(closest-side, #0b0 99%, #0000 0) 35vmin 49% / 7vmin 6vmin,
    radial-gradient(closest-side, #0b0 90%, #0000 0) 27vmin 23% / 12vmin 9vmin,
    radial-gradient(closest-side, #0b0 99%, #0000 0) 26vmin 47% / 9vmin 6vmin,
    radial-gradient(closest-side, #0b0 80%, #0000 0) 39vmin 50% / 9vmin 9vmin,
    radial-gradient(closest-side, #0b0 70%, #0000 0) 28vmin 57% / 9vmin 9vmin,
    radial-gradient(closest-side, #0b0 84%, #0000 0) 30.5vmin 10% / 9vmin 9vmin,
    /* tree */
    conic-gradient(at 50% -20%, #0000 177deg, var(--trunk) 177.25deg 182.75deg, #0000 183deg) 30vmin 50% / 10vmin 30vmin,

    conic-gradient(at 110% 30%, #0000 237deg, var(--trunk) 237.25deg 245.75deg, #0000 247deg) 35vmin 60% / 10vmin 20vmin,
    conic-gradient(at 110% 40%, #0000 217deg, var(--trunk) 217.25deg 225.75deg, #0000 227deg) 37.75vmin 48% / 4vmin 10vmin,
    conic-gradient(at 110% 30%, #0000 287deg, var(--trunk) 287.25deg 295.75deg, #0000 297deg) 42.75vmin 60% / 3vmin 10vmin,

    conic-gradient(at 120% 30%, #0000 217deg, var(--trunk) 217.25deg 222.75deg, #0000 223deg) 35vmin 24% / 6vmin 14vmin,
    conic-gradient(at 110% 30%, #0000 277deg, var(--trunk) 277.25deg 282.75deg, #0000 283deg) 40vmin 34% / 4vmin 10vmin,
    conic-gradient(at 110% 40%, #0000 237deg, var(--trunk) 227.25deg 235.75deg, #0000 247deg) 42vmin 28% / 2vmin 8vmin,

    conic-gradient(at 120% 30%, #0000 207deg, var(--trunk) 207.25deg 212.75deg, #0000 213deg) 35vmin 10% / 3vmin 9vmin,
    conic-gradient(at 120% 30%, #0000 217deg, var(--trunk) 217.25deg 223.75deg, #0000 224deg) 35vmin 21% / 3vmin 9vmin,

    conic-gradient(at -40% 30%, #0000 95deg, var(--trunk) 0 100deg, #0000 0) 26vmin 50% / 9vmin 10vmin,
    conic-gradient(at -40% 10%, #0000 115deg, var(--trunk) 0 120deg, #0000 0) 28vmin 47% / 4vmin 6vmin,
    conic-gradient(at -40% 80%, #0000 36deg, var(--trunk) 0 40deg, #0000 0) 31vmin 60% / 9vmin 10vmin,

     conic-gradient(at -40% -20%, #0000 110deg, var(--trunk) 0 115deg, #0000 0) 27.5vmin 38% / 7.5vmin 6vmin,
    conic-gradient(at 0% -20%, #0000 160deg, var(--trunk) 0 165deg, #0000 0) 29vmin 30% / 7.5vmin 4vmin,

    conic-gradient(at 0% -20%, #0000 150deg, var(--trunk) 0 158deg, #0000 0) 31.5vmin 25% / 4vmin 6vmin,
    /* leaves */
    radial-gradient(closest-side, #090 90%, #0000 0) 25vmin 22% / 12vmin 12vmin,

    radial-gradient(closest-side, #080 99%, #0000 0) 35vmin 25% / 9vmin 9vmin,
    radial-gradient(closest-side, #070 80%, #0000 0) 39vmin 50% / 9vmin 9vmin,
    radial-gradient(closest-side, #090 80%, #0000 0) 23vmin 47% / 10vmin 10vmin,
    radial-gradient(closest-side, #080 84%, #0000 0) 27.5vmin 57% / 9vmin 9vmin,
    radial-gradient(closest-side, #080 84%, #0000 0) 30.5vmin 60% / 9vmin 9vmin,
    radial-gradient(closest-side, #080 84%, #0000 0) 25.5vmin 35% / 9vmin 9vmin,
    radial-gradient(closest-side, #070 90%, #0000 0) 30vmin 42% / 16vmin 16vmin,
    /* sun */
    radial-gradient(circle at 14vmin 20%, #ff8e 4vmin, #fff0 12vmin),
    /* background */
    radial-gradient(175vmin 50% at 35vmin 95%, var(--ground) 30%, #0000 0),
    radial-gradient(farthest-side at 50% 70%, #0b0 99%, #0000) 6.5vmin 84% / 11vmin 7vmin,

    radial-gradient(farthest-side at 50% 110%, #0a0 99%, #0000 0) 38vmin 87% / 100vmin 10vmin,
    linear-gradient(var(--sky2), var(--sky))
    ;
  box-shadow:
    inset -2px 0, 0 0 0 2px;
  background-repeat: no-repeat;
  background-color: #f002;
}


input::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow:
    inset 0 0 0 2vmin #ffd,
    inset 0 0 1vmin 1.5vmin;
}

/* hide the range handler */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: 0 solid transparent;
  width: 10%;
  height: 10%;
  display: block;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: 0 solid transparent;
  width: 10%;
  height: 10%;
  display: block;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}



/*CSS3 en movimiento*/

/*Calzado*/

.contenedor {
        width: 50%;
        margin-left: auto;
       margin-right: auto;
       margin-bottom: 3em;
       margin-top: -1em;
      }
      img {
        display: block;
        margin: auto;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
      .range {
        width: 35%;
        display: block;
        margin: auto;
        cursor: pointer;
      }


       body{
            margin: 0;
            cursor: pointer;
        }
      .contenedor {
        height: 100vh;
        width: 100%;
        position: relative;
      }
      .items {
        height: 100%;
        width: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .img1{
        background-color:#000;
      }
      .img2{

        clip-path: circle(100px at 50% 50%);
        background-image:url('https://cdn.pixabay.com/photo/2016/08/11/23/48/mountains-1587287_960_720.jpg');
      }