<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/homepage1.css' %}">
</head>
<body>

    <h1>Inicio de Website</h1>

    <div class="paperplane">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="fold-1"></div>
      <div class="fold-2"></div>
      <div class="side side-1">
        <div class="wing"></div>
        <div class="body"></div>
      </div>
      <div class="side side-2">
        <div class="wing">
          <div class="line-3"></div>
        </div>
        <div class="body"></div>
      </div>
    </div>


    <button>Bevelled Button</button>


    <input type="checkbox">
    <div class="wrapper">
      <div class="animDiv"></div>
      <div class="animDiv"></div>
      <div class="animDiv"></div>
      <div class="animDiv"></div>
      <div class="animDiv"></div>
      <div class="animDiv"></div>
      <div class="animDiv"></div>
      <div class="animDiv"></div>
      <div class="animDiv"></div>
    </div>
    <div class="animText">Double click the screen to restart the animation</div>
    <div class="moreClick">One more click</div>



    <div class="spooky"></div>

    <input type="range" value="50" min="0" max="100" style="--size:50" oninput="this.style='--size:'+this.value" role="img" aria-label="An interactive cartoon of a landscape painting with a tree. It slides and shows the contrast between summer and winter." />


    <div class="scene">
      <div class="logo">
        <div class="dark">
          <div class="front"></div>
          <div class="front"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
        </div>
        <div class="light">
          <div class="front"></div>
          <div class="front"></div>
        </div>
        <div class="three">
          <div class="front"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
        </div>
        <div class="three">
          <div class="front"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
        </div>
      </div>
    </div>

    <div class="contenedor">
      <img src="" alt="" id="image" />
    </div>
    <input type="range" min="1" max="35" id="range" value="1" class="range" />


     <div class="contenedor">
      <div class="items img1"></div>
      <div class="items img2"></div>
    </div>

</body>
</html>